*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    opacity: 0.9;
    font-family: helvetica;
    font-size: 22px;
    color: seashell;
}
body{
    background-color: black;
}

header{
    background-color: black;
    display: fixed;
    border-bottom: 1px solid seashell;
}

.container-header{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img{
    margin-left: 10px;
    height: 50px;
} 

.menu{
    width: 380px;
    display: flex;
    justify-content: space-around;
}

li{
    font-weight: bold;
    list-style: none;
}

.body-container{
    display: flex;
    justify-content: center;
    width: 100%;
}

main{
    width: 100%;
}

.background{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    background: url(../images/img-mission-background.jpg) no-repeat;
}

.main-text{
    text-align: center;
    font-weight: bold;
    width: 1200px;
    padding: 10px;
    opacity: 1;
    background: black;
}

h2, h4{
    padding: 13px;
    font-family: helvetica;
    font-size: 23px;
    font-weight: bold;
}

h2{
    font-size: 30px;
}

.tea-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 500px;
}

.text-tea{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 40px; 
}

.set-pictures{
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    margin-bottom: 80px;
    align-items: center;
}

figure figcaption{
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

figure img{
    height: 200px;
    width: 320px;
}

.location{
    display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     background-image: url("../images/img-locations-background.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     min-height: 500px;
     width: 100%;
     line-height: 70px;
     
}
.location-text{
    background: none;
    width: 500px;
    display: flex;
    justify-content: center;
    background-color: transparent;
}

.info{
    display: flex;
    text-align: center;
    gap: 30px;
}

.location-info{
    
    height: 300px;
    width: 300px;
    background-color: black;
    opacity: 1;
}

footer {
    height: 200px;
    padding-left: 20px;
    line-height: 50px;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}